﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="SampleDataOUTSurance._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <table>
    <tr>
    <td>
         <asp:FileUpload ID="FileUpload1" runat="server" />  
    </td>
    </tr>
     <tr>
    <td>
    <asp:Button ID="BtnOut1" runat="server" Text="Output 1" onclick="BtnOut1_Click"  />
    </td>
    </tr>
     <tr>
    <td>
    <asp:Button ID="BtnOut2" runat="server" Text="Output 2" onclick="BtnOut2_Click"  />
    </td>
    </tr>

     <tr>
    <td>
        <asp:Label ID="Label1" runat="server" ForeColor="Green" Text=""></asp:Label>
    </td>
    </tr>
    </table>
</asp:Content>
